<router-outlet>
  <html>

  <head>
    <title>signIn Individual</title>
  </head>

  <body>


    <div class="containerSign">
      <div class="signContent ">
        <div class="card border-danger p-5" style="max-width: 400px;">
          <p>Sign in for Individual</p>
          <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="number" class="form-control" id="id" placeholder="14525411658522">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="*************">
          </div>
          <button type="submit" class="btn btn-danger" style="max-width: 100px;" id="btnSubmit">Submit</button>
          <a href="" class="btn btn-link btn-go" routerLink="/signUpI" routerLinkActive="active">Do not have an account yet?</a>
          <a href="" class="btn btn-link btn-go" routerLink="/signInA" routerLinkActive="active">sign in for Authority</a>
          <a href="" class="btn btn-link btn-go" routerLink="/signUpA" routerLinkActive="active">sign up for Authority</a>
        </div>
      </div>
    </div>

  </body>

  </html>
</router-outlet>
