<router-outlet>
  <html>

  <head>
    <title>savior welcome</title>
  </head>

  <body>


    <div class="home">
      <div class="home-content">
        <h1>Savior</h1>
        <h3>save blood ..save life</h3>
        <button id="signInA" routerLink="/signInA" routerLinkActive="active" class="btn btn-outline-dark m-3">Authority</button>
        <button id="signInI" routerLink="/signInI" routerLinkActive="active" class="btn btn-outline-dark m-3">Individual</button>
      </div>
    </div>
  </body>

  </html>
</router-outlet>
