/*welcome page*/
.home
{
    height: 100vh;
    background-image: url(../imgs/welcome.jpg);
    background-position: center center;
    background-size: cover;
    color: #fff;
}
.home-content
{
    position: relative;
    z-index: 4;
    top: 40px;
    text-align: center;
}
.home h1
{
    font-size: 8rem;
    font-weight: 900;
    color: #710909;
}
.home h3
{
    font-family: 'Georama', sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    color: black;
}

