<html>

<head>
  <title>signUp Authority</title>
</head>

<body>
  <div class="containerSign">
    <div class="signContent ">
      <div class="card border-danger p-5" style="max-width: 600px;">
        <p>Sign Up for Authority</p>
        <div class="row g-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="col-md-6">
            <label for="tax" class="form-label">Tax registration number</label>
            <input type="text" class="form-control" id="tax">
          </div>
          <div class="col-8">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St">
          </div>
          <div class="col-4">
            <label for="city" class="form-label">City</label>
            <select id="city" class="form-select">
              <option selected>cairo</option>
              <option>Aswan</option>
              <option>Luxor</option>
              <option>Alexandria</option>
              <option>Sharm El Sheikh</option>
              <option>Giza</option>
              <option>Port Said</option>
              <option>Suez</option>
              <option>Al Fayyum</option>
            </select>
          </div>
          <label for="" class="form-label mb-0">Working Hours</label>
          <div class="col-md-6">
            <label for="wHourf" class="form-label">From</label>
            <input type="time" class="form-control" id="wHourf">
          </div>
          <div class="col-md-6">
            <label for="wHourt" class="form-label"> To</label>
            <input type="time" class="form-control" id="wHourt">
          </div>
          <label for="" class="form-label mb-0">Donate/Accepte Time</label>
          <div class="col-md-6">
            <label for="dTimeF" class="form-label">From</label>
            <input type="time" class="form-control" id="dTimeF">
          </div>
          <div class="col-md-6">
            <label for="dTimeT" class="form-label">To</label>
            <input type="time" class="form-control" id="dTimeT">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-danger" style="max-width: 100px;" id="btnSubmit">Submit</button>
          </div>
          <button type="button" class="btn btn-link btn-go" routerLink="/signInA" routerLinkActive="active">Do not have an account yet?</button>
          <button type="button" class="btn btn-link btn-go" routerLink="/signInI" routerLinkActive="active">sign in for individual</button>
          <button type="button" class="btn btn-link btn-go" routerLink="/signUpI" routerLinkActive="active">sign up for individual</button>
        </div>
      </div>
    </div>
  </div>


</body>

</html>

