/*person sign up page*/
.containerSign
{
    height: 100vh;
    background-image: url(../imgs/sign.jpg);
    background-position: center center;
    background-size: cover;
}
.signimg{
    background-color: aqua;
}

.signContent{
    position: relative;
    padding-top: 60px;
    padding-left: 110px;
}
    
.btn-go{
    color: red;
    text-align: left;
    margin-top: 2px;
}
p{
    color: rgb(186, 0, 0);
    font-weight: 700;
    font-size: 30px;
}