<html>

<head>
  <title>signUp Authority</title>
</head>

<body>
  <div class="containerSign">
    <div class="signContent ">
      <div class="card border-danger p-5" style="max-width: 600px;">
        <p>Sign up for individual</p>
        <div class="row g-3">
          <div class="col-md-6">
            <label for="id" class="form-label">ID</label>
            <input type="number" class="form-control" id="id" placeholder="14525411658522">
          </div>
          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="col-8">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St">
          </div>
          <div class="col-4">
            <label for="city" class="form-label">City</label>
            <select id="city" class="form-select">
              <option selected>cairo</option>
              <option>Aswan</option>
              <option>Luxor</option>
              <option>Alexandria</option>
              <option>Sharm El Sheikh</option>
              <option>Giza</option>
              <option>Port Said</option>
              <option>Suez</option>
              <option>Al Fayyum</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="weight" class="form-label">Weight</label>
            <input type="number" class="form-control" id="weight">
          </div>
          <div class="col-md-4">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age">
          </div>
          <div class="col-md-4">
            <label for="bType" class="form-label">Blood type</label>
            <select id="bType" class="form-select">
              <option selected>A+</option>
              <option>A-</option>
              <option>B+</option>
              <option>B-</option>
              <option>AB+</option>
              <option>AB-</option>
              <option>O+</option>
              <option>O-</option>
            </select>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-danger" style="max-width: 100px;" id="btnSubmit">Submit</button>
          </div>
          <button type="button" class="btn btn-link btn-go" routerLink="/signInI" routerLinkActive="active">Do not have an account yet?</button>
          <button type="button" class="btn btn-link btn-go" routerLink="/signUpA" routerLinkActive="active">signup for authoritize</button>
          <button type="button" class="btn btn-link btn-go" routerLink="/signInA" routerLinkActive="active">signin for Authority</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
